#team {
  padding: 40px 0;
}

.join-us {
  background: $join-us-grey;
  padding: 60px 0;

  h2, h3 {
    color: $join-us-main-blue;
    text-align: center;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 40px;
  }
}

.card {
  text-align: center;
  padding: 30px 0;
  height: 400px;
  .card-svg {
    background-image: url('../img/equipo-marco-02.svg');
    background-size: cover;
    display: block;
    width: 220px;
    height: 220px;
    margin: auto;
    &.join-us {
      background-image: url('../img/equipo-busqueda-01.svg');
    }
    img {
      display: block;
      width: 100%;
    }
  }
  p {
    display: block;
    width: 100%;
    padding: 0 20px;
  }
  .name {
    color: $blue-250;
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0 0 0;
  }
  .position {
    color: $grey-400;
    margin: 5px 0;
    font-size: 16px;
  }
  .links {
    margin: 5px 0;
    a {
      display: inline-block;
    }
  }
}