$blue-100: #c7eafb;
$blue-200: #1e90da;
$blue-250: #00b9f1;
$blue-300: #0072bc;

$grey-100: #f5f5f5;
$grey-150: #e5e5e5;
$grey-200: #cccccc;
$grey-300: #999999;
$grey-400: #767676;
$grey-500: #424242;


$header-blue: #0695d6;
$team-blue: #01bdf2;
$join-us-grey: #f5f5f5;
$join-us-main-blue: $header-blue;
$join-us-icon-blue: $team-blue;
$button-blue: #009dda;
$button-hover-blue: $team-blue;
