#footer {
  @include linear-gradient(to right, $blue-200, $blue-300);
  
  .background-pattern {
    background-image: url('../img/tramita-01.svg');
    background-repeat: repeat repeat;
    background-size: 300px;
  }

  #footer-content {
    padding: 80px 0;
  }  
  
  color: white;
  text-align: center;
  font-size: 30px;
  p {
    font-size: 40px;
    font-weight: 400;
    margin: 0;
  }
  button {
    font-size: 18px;
    margin: 40px auto 0 auto;
    font-weight: 400;
    padding: 10px 15px 10px 15px;
  }
  p.txt-contacto {
    max-width: 600px;
    display: block;
    margin: 40px auto 0px auto;
    a {
    text-decoration: underline !important;
    color: white;
    }
  }
}