#footer {
  @include linear-gradient(to right, $blue-200, $blue-300);
  
  .background-pattern {
    background-image: url('../img/tramita-01.svg');
    background-repeat: repeat repeat;
    background-size: 300px;
  }

  #footer-content {
    padding: 80px 0;
  }  
  
  color: white;
  text-align: center;
  font-size: 30px;
  p {
    font-size: 40px;
    font-weight: 400;
    margin: 0;
  }
  button {
    font-size: 20px;
    margin: 40px auto 0 auto;
    font-weight: 400;
    padding: 9px 15px 9px 15px;
  }
}