#header {
  width: 100%;
  $header-height: 50px;
  height: $header-height;
  box-shadow: 0 2px 5px 0px rgba(0,0,0,0.4);
  position: relative;
  z-index: 2;
  font-weight: 500;
  a, span.anchor {
    line-height: $header-height;
    color: $header-blue;
    display: inline-block;
    padding: 0 6px;
    &:hover, &.active {
      background: $header-blue;
      color: white;
    }
  }
  i {
    vertical-align: middle;
  }
}