$header-height: 72px;

#header {
  width: 100%;
  height: $header-height;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  font-weight: 500;
  background: white;
  overflow: hidden;

  .header-logo {
    height: $header-height;
    display: inline-block;
    width: 300px;
    max-width: 100%;
  }

  a.pull-right, a.insite-anchor, span.anchor {
    line-height: $header-height;
    color: $header-blue;
    display: inline-block;
    padding: 0 10px;
    font-size: 16px;

    @media (max-width: 992px) {
      font-size: 14px;
    }

    &:hover, &.active {
      background: $header-blue;
      color: white;
    }
  }
  i {
    vertical-align: middle;
  }
}

body.with-header {
  padding-top: $header-height;
}
