@charset "UTF-8";
@-webkit-keyframes rotateClockwise {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
@-moz-keyframes rotateClockwise {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }
@keyframes rotateClockwise {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes rotateCounterClockwise {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(-360deg); } }
@-moz-keyframes rotateCounterClockwise {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(-360deg); } }
@keyframes rotateCounterClockwise {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg); } }
body.svg-background {
  background-color: #1e90da;
  background-image: -webkit-linear-gradient(left, #1e90da, #0072bc);
  background-image: linear-gradient(to right,#1e90da, #0072bc); }

div#background-container {
  position: fixed;
  width: 80%;
  padding-top: 80%;
  left: 10%;
  top: 50%;
  margin-top: -40%; }
  div#background-container svg#background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }
    div#background-container svg#background path {
      fill: #00B9F1; }
    div#background-container svg#background circle {
      fill: none; }
    div#background-container svg#background g {
      -webkit-animation-delay: 0s;
      -moz-animation-delay: 0s;
      animation-delay: 0s;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      -moz-animation-timing-function: linear;
      animation-timing-function: linear; }
      div#background-container svg#background g#uno {
        opacity: 0.2;
        -webkit-animation-duration: 20s;
        -moz-animation-duration: 20s;
        animation-duration: 20s;
        -webkit-animation-name: rotateCounterClockwise;
        -moz-animation-name: rotateCounterClockwise;
        animation-name: rotateCounterClockwise; }
      div#background-container svg#background g#dos {
        opacity: 1;
        -webkit-animation-duration: 50s;
        -moz-animation-duration: 50s;
        animation-duration: 50s;
        -webkit-animation-name: rotateClockwise;
        -moz-animation-name: rotateClockwise;
        animation-name: rotateClockwise; }
      div#background-container svg#background g#tres {
        opacity: 0.6;
        -webkit-animation-duration: 50s;
        -moz-animation-duration: 50s;
        animation-duration: 50s;
        -webkit-animation-name: rotateClockwise;
        -moz-animation-name: rotateClockwise;
        animation-name: rotateClockwise; }
      div#background-container svg#background g#cuatro {
        opacity: 0.2;
        -webkit-animation-duration: 20s;
        -moz-animation-duration: 20s;
        animation-duration: 20s;
        -webkit-animation-name: rotateCounterClockwise;
        -moz-animation-name: rotateCounterClockwise;
        animation-name: rotateCounterClockwise; }
      div#background-container svg#background g#cinco {
        opacity: 1;
        -webkit-animation-duration: 100s;
        -moz-animation-duration: 100s;
        animation-duration: 100s;
        -webkit-animation-name: rotateClockwise;
        -moz-animation-name: rotateClockwise;
        animation-name: rotateClockwise; }
      div#background-container svg#background g#seis {
        opacity: 0.2;
        -webkit-animation-duration: 100s;
        -moz-animation-duration: 100s;
        animation-duration: 100s;
        -webkit-animation-name: rotateCounterClockwise;
        -moz-animation-name: rotateCounterClockwise;
        animation-name: rotateCounterClockwise; }
      div#background-container svg#background g#siete {
        opacity: 0.2;
        -webkit-animation-duration: 50s;
        -moz-animation-duration: 50s;
        animation-duration: 50s;
        -webkit-animation-name: rotateCounterClockwise;
        -moz-animation-name: rotateCounterClockwise;
        animation-name: rotateCounterClockwise; }
      div#background-container svg#background g#ocho {
        opacity: 0.4;
        -webkit-animation-duration: 100s;
        -moz-animation-duration: 100s;
        animation-duration: 100s;
        -webkit-animation-name: rotateCounterClockwise;
        -moz-animation-name: rotateCounterClockwise;
        animation-name: rotateCounterClockwise; }
      div#background-container svg#background g#nuevea {
        opacity: 0.2;
        -webkit-animation-duration: 100s;
        -moz-animation-duration: 100s;
        animation-duration: 100s;
        -webkit-animation-name: rotateCounterClockwise;
        -moz-animation-name: rotateCounterClockwise;
        animation-name: rotateCounterClockwise; }
      div#background-container svg#background g#nueveb {
        opacity: 0.2;
        -webkit-animation-duration: 100s;
        -moz-animation-duration: 100s;
        animation-duration: 100s;
        -webkit-animation-name: rotateClockwise;
        -moz-animation-name: rotateClockwise;
        animation-name: rotateClockwise; }
      div#background-container svg#background g#trece {
        opacity: 0.4;
        -webkit-animation-duration: 100s;
        -moz-animation-duration: 100s;
        animation-duration: 100s;
        -webkit-animation-name: rotateClockwise;
        -moz-animation-name: rotateClockwise;
        animation-name: rotateClockwise; }
      div#background-container svg#background g#once {
        opacity: 0.2;
        -webkit-animation-duration: 100s;
        -moz-animation-duration: 100s;
        animation-duration: 100s;
        -webkit-animation-name: rotateClockwise;
        -moz-animation-name: rotateClockwise;
        animation-name: rotateClockwise; }
      div#background-container svg#background g#doce {
        opacity: 0.2;
        -webkit-animation-duration: 100s;
        -moz-animation-duration: 100s;
        animation-duration: 100s;
        -webkit-animation-name: rotateClockwise;
        -moz-animation-name: rotateClockwise;
        animation-name: rotateClockwise; }
      div#background-container svg#background g#catorce {
        opacity: 0.2;
        -webkit-animation-duration: 50s;
        -moz-animation-duration: 50s;
        animation-duration: 50s;
        -webkit-animation-name: rotateClockwise;
        -moz-animation-name: rotateClockwise;
        animation-name: rotateClockwise; }
      div#background-container svg#background g#quince {
        opacity: 0.2;
        -webkit-animation-duration: 100s;
        -moz-animation-duration: 100s;
        animation-duration: 100s;
        -webkit-animation-name: rotateClockwise;
        -moz-animation-name: rotateClockwise;
        animation-name: rotateClockwise; }
      div#background-container svg#background g#diez {
        opacity: 0.1;
        -webkit-animation-duration: 206s;
        -moz-animation-duration: 206s;
        animation-duration: 206s;
        -webkit-animation-name: rotateCounterClockwise;
        -moz-animation-name: rotateCounterClockwise;
        animation-name: rotateCounterClockwise; }
      div#background-container svg#background g#dieciseis {
        opacity: 0.1;
        -webkit-animation-duration: 206s;
        -moz-animation-duration: 206s;
        animation-duration: 206s;
        -webkit-animation-name: rotateCounterClockwise;
        -moz-animation-name: rotateCounterClockwise;
        animation-name: rotateCounterClockwise; }

/* 
Pasos para modificar css de la landing:
1.- Moverme a la carpeta donde está este archivo. 
2.- Compilar de sass a css con el comando "sass --watch main.scss:main.css"
3.- Al terminar matar ese proceso en la tarminal con Ctrl+C
*/
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #424242; }

a {
  color: #00b9f1;
  text-decoration: none !important; }
  a:hover {
    color: #1e90da; }

button.btn {
  background: #009dda;
  color: white;
  font-weight: 500; }
  button.btn:hover, button.btn:focus {
    background: #01bdf2;
    color: white; }

.no-padding {
  padding: 0; }

#header {
  width: 100%;
  height: 72px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  font-weight: 500;
  background: white;
  overflow: hidden; }
  #header .header-logo {
    height: 72px;
    display: inline-block;
    width: 300px;
    max-width: 100%; }
  #header a.pull-right, #header span.anchor {
    line-height: 72px;
    color: #0695d6;
    display: inline-block;
    padding: 0 10px;
    font-size: 16px; }
    @media (max-width: 992px) {
      #header a.pull-right, #header span.anchor {
        font-size: 14px; } }
    #header a.pull-right:hover, #header a.pull-right.active, #header span.anchor:hover, #header span.anchor.active {
      background: #0695d6;
      color: white; }
  #header i {
    vertical-align: middle; }

body.with-header {
  padding-top: 72px; }

#title {
  width: 100%;
  padding: 80px 0;
  text-align: center;
  color: white;
  overflow: hidden;
  position: relative; }
  #title iframe {
    border: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; }
  #title #title-text {
    position: relative; }
    #title #title-text h1 {
      font-size: 50px;
      font-weight: 500;
      margin: 10px 0; }
    #title #title-text p {
      font-size: 20px;
      max-width: 600px;
      display: block;
      margin: 10px auto; }

#team {
  padding: 40px 0; }

.join-us {
  position: relative;
  background: #f5f5f5;
  padding: 60px 0; }
  .join-us #busquedas-laborales {
    position: absolute;
    top: -71px; }
  .join-us h2, .join-us h3 {
    color: #0695d6;
    text-align: center;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 40px; }
  .join-us h3 {
    padding-bottom: 30px; }

.card {
  text-align: center;
  padding: 30px 0;
  height: 400px; }
  .card .card-svg {
    background-image: url("../img/equipo-marco-02.svg");
    background-size: cover;
    display: block;
    width: 220px;
    height: 220px;
    margin: auto; }
    .card .card-svg.join-us {
      background-image: url("../img/equipo-busqueda-01.svg"); }
    .card .card-svg img {
      display: block;
      width: 100%; }
  .card p {
    display: block;
    width: 100%;
    padding: 0 20px; }
  .card .name {
    color: #00b9f1;
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0 0 0; }
  .card .position {
    color: #767676;
    margin: 5px 0;
    font-size: 16px; }
  .card .links {
    margin: 5px 0; }
    .card .links a {
      margin-right: 8px;
      display: inline-block; }

#footer {
  background-color: #1e90da;
  background-image: -webkit-linear-gradient(left, #1e90da, #0072bc);
  background-image: linear-gradient(to right,#1e90da, #0072bc);
  color: white;
  text-align: center;
  font-size: 30px; }
  #footer .background-pattern {
    background-image: url("../img/tramita-01.svg");
    background-repeat: repeat repeat;
    background-size: 300px; }
  #footer #footer-content {
    padding: 80px 0; }
  #footer p {
    font-size: 40px;
    font-weight: 400;
    margin: 0; }
  #footer button {
    font-size: 18px;
    margin: 40px auto 0 auto;
    font-weight: 400;
    padding: 10px 15px 10px 15px; }
  #footer p.txt-contacto {
    font-size: 20px;
    max-width: 600px;
    display: block;
    margin: 40px auto 0px auto; }
    #footer p.txt-contacto a {
      text-decoration: underline !important;
      color: white; }

body.pad {
  color: #424242;
  background: white; }
  body.pad a {
    color: #0695d6;
    text-decoration: none !important; }
    body.pad a:hover {
      color: #17b2f8; }

.pad-title-container {
  background-color: #00b9f1;
  background-image: -webkit-linear-gradient(left, #00b9f1, #005dbc);
  background-image: linear-gradient(to right,#00b9f1, #005dbc);
  color: white;
  padding: 0;
  width: 100%;
  text-align: center;
  overflow: hidden; }
  .pad-title-container .title-background {
    padding: 60px 0 0 0;
    background-image: url("../img/pad/pad-elementos-pattern-03.svg");
    background-size: cover; }
    .pad-title-container .title-background.no-padding {
      padding: 0; }
  .pad-title-container .breadcrum {
    margin: 10px 0 60px 0;
    text-align: left;
    color: white;
    font-size: 16px;
    font-weight: 300; }
    .pad-title-container .breadcrum a, .pad-title-container .breadcrum a:hover {
      color: white;
      font-weight: 400; }
    .pad-title-container .breadcrum i {
      vertical-align: middle; }
  .pad-title-container h1 {
    font-size: 55px;
    font-weight: 400;
    margin: 0 auto 20px auto;
    max-width: 940px; }
  .pad-title-container h2 {
    font-size: 30px;
    font-weight: 400;
    margin: 0 auto 40px auto;
    max-width: 940px; }
  .pad-title-container p {
    font-size: 18px;
    max-width: 800px;
    display: block;
    font-weight: 300;
    margin: 0 auto 40px auto; }
  .pad-title-container .search-container {
    display: block;
    width: 440px;
    max-width: 100%;
    position: relative;
    margin: 0 auto 60px auto; }
    .pad-title-container .search-container .search {
      background: white;
      border: none;
      width: 100%;
      color: #424242;
      box-shadow: none;
      padding: 5px 50px 5px 10px;
      font-size: 18px;
      line-height: 1.2;
      height: 39px;
      border-radius: 4px;
      outline: none; }
      .pad-title-container .search-container .search::-webkit-input-placeholder {
        color: #999999;
        font-weight: 300; }
      .pad-title-container .search-container .search::-moz-placeholder {
        color: #999999;
        font-weight: 300; }
      .pad-title-container .search-container .search:-moz-placeholder {
        color: #999999;
        font-weight: 300; }
      .pad-title-container .search-container .search:-ms-input-placeholder {
        color: #999999;
        font-weight: 300; }
    .pad-title-container .search-container button {
      background: #009dda;
      border: none;
      position: absolute;
      top: 0;
      right: -4px;
      height: 39px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      padding: 2px 8px; }
      .pad-title-container .search-container button:hover {
        background: #01bdf2; }
    .pad-title-container .search-container .search-icon {
      width: auto;
      height: 100%;
      padding: 4px 0;
      vertical-align: middle; }

.pad-home-cards {
  background: #fafafa;
  padding: 60px 0 40px 0; }
  .pad-home-cards h2 {
    color: #0695d6;
    font-weight: 400;
    font-size: 30px;
    margin: 0 0 40px 0;
    text-align: center;
    padding: 0 30px; }
  .pad-home-cards .pad-ministerios-list {
    text-align: center; }
    .pad-home-cards .pad-ministerios-list .pad-card {
      padding: 0 10px 20px 10px;
      float: none;
      display: inline-block; }
      .pad-home-cards .pad-ministerios-list .pad-card.main-card {
        display: block;
        float: none;
        margin: 0 auto; }
      .pad-home-cards .pad-ministerios-list .pad-card .pad-card-text-table {
        color: #0695d6;
        background: white;
        display: table;
        width: 100%;
        height: 70px;
        text-transform: uppercase;
        border-radius: 4px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        padding: 5px; }
        .pad-home-cards .pad-ministerios-list .pad-card .pad-card-text-table:hover {
          background: #0695d6;
          color: white; }
        .pad-home-cards .pad-ministerios-list .pad-card .pad-card-text-table .pad-card-text-cell {
          display: table-cell;
          vertical-align: middle;
          font-size: 15px;
          line-height: 1.2;
          font-weight: 500; }

.pad-home-description {
  overflow: hidden;
  text-align: center; }
  .pad-home-description .container {
    padding: 60px;
    box-shadow: 0 -2px 4px 0 rgba(150, 150, 150, 0.5); }
    .pad-home-description .container .article-image {
      text-align: center; }
      .pad-home-description .container .article-image img {
        display: inline-block;
        width: 200px;
        height: 200px; }
    .pad-home-description .container h2 {
      color: #0695d6;
      font-weight: 400;
      font-size: 30px;
      margin: 40px auto;
      max-width: 800px; }
    .pad-home-description .container p {
      font-style: italic;
      font-size: 20px;
      margin: 0 0 40px 0;
      font-weight: 300;
      line-height: 1.8; }
      .pad-home-description .container p strong {
        font-weight: 500; }
    .pad-home-description .container hr.green {
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: solid 4px #00d57a;
      width: 100px;
      margin: 0 auto 60px auto;
      border-radius: 4px; }

.pad-footer {
  padding: 60px 0;
  box-shadow: 0 -2px 4px 0 rgba(220, 220, 220, 0.5);
  text-align: center; }
  @media (min-width: 768px) {
    .pad-footer {
      text-align: left; } }
  .pad-footer .social-links {
    margin-bottom: 20px; }
    .pad-footer .social-links a {
      display: inline-block;
      padding: 8px;
      text-align: center;
      width: 46px;
      height: 46px;
      color: #0695d6;
      border-radius: 4px; }
      .pad-footer .social-links a:hover {
        color: white;
        background: #0695d6; }
      .pad-footer .social-links a i {
        display: inline-block;
        font-size: 28px; }
  .pad-footer .pad-footer-logo {
    max-width: 300px;
    height: auto; }
  .pad-footer .pad-footer-contact {
    color: #999999;
    font-size: 16px;
    font-weight: 500; }
    .pad-footer .pad-footer-contact p {
      display: inline-block;
      margin: 0; }
    @media (min-width: 768px) {
      .pad-footer .pad-footer-contact {
        text-align: right; }
        .pad-footer .pad-footer-contact p {
          text-align: left; } }

.pad-no-results-container .container {
  padding: 120px 0;
  box-shadow: 0 -2px 4px 0 rgba(150, 150, 150, 0.5); }
  .pad-no-results-container .container img {
    max-width: 750px;
    display: block;
    margin: 0 auto; }

.pad-results-container .container {
  display: table;
  box-shadow: 0 -2px 4px 0 rgba(150, 150, 150, 0.5);
  width: 100%;
  padding: 0 20px; }
  @media (min-width: 1200px) {
    .pad-results-container .container {
      width: 1170px;
      padding: 0; } }
  .pad-results-container .container .pad-filters,
  .pad-results-container .container .pad-results {
    float: none;
    display: table-cell;
    vertical-align: top; }
.pad-results-container .pad-filters {
  padding: 60px 0;
  background: #f5f5f5; }
  .pad-results-container .pad-filters .publication-filters hr,
  .pad-results-container .pad-filters .update-filters hr,
  .pad-results-container .pad-filters .reset-filters hr {
    border: none;
    border-top: solid 1px #999999;
    margin: 40px 0 10px 0; }
  .pad-results-container .pad-filters .filter-title {
    color: #0695d6;
    font-size: 22px;
    font-weight: 500;
    padding: 0 20px; }
  .pad-results-container .pad-filters .filter-list a.filter .filter-text {
    font-size: 18px;
    padding: 10px 20px;
    color: #424242;
    position: relative; }
    .pad-results-container .pad-filters .filter-list a.filter .filter-text:hover {
      background: #e5e5e5;
      color: #0695d6;
      cursor: pointer; }
    .pad-results-container .pad-filters .filter-list a.filter .filter-text .close-filter {
      display: none; }
    .pad-results-container .pad-filters .filter-list a.filter .filter-text.selected {
      color: white;
      background: #999999;
      padding-right: 30px; }
      .pad-results-container .pad-filters .filter-list a.filter .filter-text.selected .close-filter {
        display: inline-block;
        position: absolute;
        top: 50%;
        right: 20px;
        width: 24px;
        height: 24px;
        margin-top: -12px; }
  .pad-results-container .pad-filters .filter-list a.filter.checkbox-filter .fa-checkbox {
    padding: 1px;
    border: solid 2px #424242;
    border-radius: 6px;
    font-size: 15px;
    text-align: center;
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle; }
    .pad-results-container .pad-filters .filter-list a.filter.checkbox-filter .fa-checkbox i {
      vertical-align: super;
      display: none; }
  .pad-results-container .pad-filters .filter-list a.filter.checkbox-filter .filter-text:hover {
    color: #424242;
    background: transparent; }
  .pad-results-container .pad-filters .filter-list a.filter.checkbox-filter .filter-text.selected {
    color: #424242;
    background: transparent; }
    .pad-results-container .pad-filters .filter-list a.filter.checkbox-filter .filter-text.selected .fa-checkbox {
      border-color: #0695d6;
      background: #0695d6; }
      .pad-results-container .pad-filters .filter-list a.filter.checkbox-filter .filter-text.selected .fa-checkbox i {
        color: #f5f5f5;
        display: inline-block; }
  .pad-results-container .pad-filters .filter-list a.filter .filter-text.disabled {
    color: #cccccc; }
    .pad-results-container .pad-filters .filter-list a.filter .filter-text.disabled .fa-checkbox {
      border-color: #cccccc; }
    .pad-results-container .pad-filters .filter-list a.filter .filter-text.disabled:hover {
      background: transparent;
      color: #cccccc;
      cursor: default; }
  .pad-results-container .pad-filters .reset-filters {
    text-align: center; }
    .pad-results-container .pad-filters .reset-filters a {
      display: inline-block;
      margin: 20px 0;
      text-align: center; }
      .pad-results-container .pad-filters .reset-filters a button {
        border: none;
        background: #0695d6;
        color: white;
        font-weight: 400;
        font-size: 16px;
        padding: 8px 12px;
        border-radius: 4px; }
        .pad-results-container .pad-filters .reset-filters a button:hover {
          background: #17b2f8; }
.pad-results-container .pad-results {
  padding: 60px 20px; }
  .pad-results-container .pad-results .result {
    padding: 20px 0;
    border-bottom: solid 2px #f5f5f5; }
    .pad-results-container .pad-results .result .organism {
      font-size: 18px;
      font-weight: 500;
      margin: 0; }
    .pad-results-container .pad-results .result .reference {
      color: #999999; }
    .pad-results-container .pad-results .result .dataset-name {
      font-size: 25px;
      font-weight: 500;
      margin: 0 0 10px 0; }
    .pad-results-container .pad-results .result .dataset-description {
      font-size: 16px;
      margin: 0 0 40px 0; }
    .pad-results-container .pad-results .result .publication-container,
    .pad-results-container .pad-results .result .update-container {
      position: relative;
      padding: 0 0 0 30px; }
      .pad-results-container .pad-results .result .publication-container i,
      .pad-results-container .pad-results .result .update-container i {
        position: absolute;
        font-size: 20px;
        top: 2px;
        left: 4px;
        color: #999999; }
      .pad-results-container .pad-results .result .publication-container .publication,
      .pad-results-container .pad-results .result .publication-container .update,
      .pad-results-container .pad-results .result .update-container .publication,
      .pad-results-container .pad-results .result .update-container .update {
        font-size: 16px;
        font-weight: 500;
        margin: 0; }
.pad-results-container .results-pagination {
  padding: 60px 0 0 0;
  text-align: center; }
  .pad-results-container .results-pagination span {
    font-size: 16px;
    font-weight: 500;
    padding: 6px 11px;
    border-radius: 4px;
    color: #0695d6; }
    .pad-results-container .results-pagination span:hover {
      background: #f5f5f5; }
    .pad-results-container .results-pagination span.current, .pad-results-container .results-pagination span.current:hover {
      background: #999999;
      color: white; }

.pad-download {
  background-color: #00b9f1;
  background-image: -webkit-linear-gradient(left, #00b9f1, #005dbc);
  background-image: linear-gradient(to right,#00b9f1, #005dbc);
  text-align: center;
  padding: 60px 0; }
  .pad-download .container {
    color: white; }
    .pad-download .container h3 {
      font-weight: 400;
      font-size: 30px;
      margin: 0 0 40px 0; }
    .pad-download .container button {
      border: none;
      background: #009dda;
      font-weight: 400;
      font-size: 18px;
      padding: 8px 12px;
      border-radius: 4px;
      color: white; }
      .pad-download .container button:hover {
        background: #01bdf2; }
  .pad-download.results-download h3 {
    margin: 0; }
  .pad-download.results-download button {
    margin-left: 20px;
    vertical-align: text-bottom; }

/*# sourceMappingURL=main.css.map */
