@import 'bourbon/bourbon';
@import 'normalize.css';
@import 'colors'; 
@import 'background';

// TODO: chequear tamaños de tipografias para dispositivos moviles

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  color: $blue-250;
  text-decoration: none !important;
  &:hover {
    color: $blue-200;
  }
}

#title {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  color: white;
  overflow: hidden;
  position: relative;

  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  #title-text {
    position: relative;
    h1 {
      font-size: 40px;
      font-weight: 500;
      margin: 10px 0;
    }
    p {
      font-size: 22px;
      max-width: 600px;
      display: block;
      margin: 10px auto;
    }
  }
}

#team {
  padding: 40px 0;
  .card {
    text-align: center;
    padding: 30px 0;
    height: 400px;
    .card-svg {
      background-image: url('../img/equipo/equipo-marco.svg');
      background-size: cover;
      display: block;
      width: 220px;
      margin: auto;
      img {
        display: block;
        width: 100%;
      }
    }
    p {
      display: block;
      width: 100%;
      padding: 0 20px;
    }
    .name {
      color: $blue-250;
      font-size: 18px;
      font-weight: 500;
      margin: 10px 0 0 0;
    }
    .position {
      color: $grey-400;
      margin: 5px 0;
      font-size: 16px;
    }
    .links {
      margin: 5px 0;
      a {
        display: inline-block;
      }
    }
  }
}

#footer {
  background-color: $blue-250;
  padding: 50px 0;
  color: white;
  text-align: center;
  font-size: 24px;
  button {
    font-size: 20px;
    background: transparent;
    border: solid 1px white;
    display: block;
    margin: 10px auto;
  }
}