@import 'bourbon/bourbon';
@import 'colors';
@import 'background';

/* 
Pasos para modificar css de la landing:
1.- Moverme a la carpeta donde está este archivo. 
2.- Compilar de sass a css con el comando "sass --watch main.scss:main.css"
3.- Al terminar matar ese proceso en la tarminal con Ctrl+C
*/

// TODO: chequear tamaños de tipografias para dispositivos moviles

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  color: $blue-250;
  text-decoration: none !important;
  &:hover {
    color: $blue-200;
  }
}

button.btn {
  background: $button-blue;
  color: white;
  font-weight: 500;
  &:hover, &:focus {
    background: $button-hover-blue;
    color: white;
  }
}

@import 'header';
@import 'team/title';
@import 'team/cards';
@import 'team/footer';