.pad-footer {
  padding: 60px 0;
  box-shadow: 0 -2px 4px 0 rgba(220, 220, 220, 0.5);
  text-align: center;
  @include breakpoint-sm {
    text-align: left;
  }

  .social-links {
    margin-bottom: 20px;


    a {
      display: inline-block;
      padding: 8px;
      text-align: center;
      width: 46px;
      height: 46px;
      color: $pad-blue;
      border-radius: 4px;

      &:hover {
        color: white;
        background: $pad-blue;
      }

      i {
        display: inline-block;
        font-size: 28px;
      }
    }
  }

  .pad-footer-logo {
    max-width: 300px;
    height: auto;
  }

  .pad-footer-contact {
    color: $pad-text-placeholder;
    font-size: 16px;
    font-weight: 500;
    p {
      display: inline-block;
      margin: 0;
    }

    @include breakpoint-sm {
      text-align: right;
      p {
        text-align: left;
      }
    }
  }
}