.pad-home-description {
  overflow: hidden;
  text-align: center;

  .container {
    padding: 60px;
    box-shadow: 0 -2px 4px 0 rgba(150, 150, 150, 0.5);

    .article-image {
      text-align: center;

      img {
        display: inline-block;
        width: 200px;
        height: 200px;
      }
    }

    h2 {
      color: $pad-blue;
      font-weight: 400;
      font-size: 30px;
      margin: 40px auto;
      max-width: 800px;
    }

    p {
      font-style: italic;
      font-size: 20px;
      margin: 0 0 40px 0;
      font-weight: 300;
      strong {
        font-weight: 500;
      }
    }

    hr.green {
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: solid 4px $pad-green;
      width: 160px;
      margin: 0 auto 60px auto;
      border-radius: 4px;
    }
  }
}