.pad-no-results-container {
  .container {
    padding: 120px 0;
    box-shadow: 0 -2px 4px 0 rgba(150, 150, 150, 0.5);

    img {
      max-width: 750px;
      display: block;
      margin: 0 auto;
    }
  }
}

.pad-results-container {

  .container {
    display: table;
    box-shadow: 0 -2px 4px 0 rgba(150, 150, 150, 0.5);
    width: 100%;
    padding: 0 20px;

    @media (min-width: 1200px) {
      width: 1170px;
      padding: 0;
    }

    .pad-filters,
    .pad-results {
      float: none;
      display: table-cell;
      vertical-align: top;
    }
  }

  .pad-filters {
    padding: 60px 0;
    background: $pad-filters-background;

    .publication-filters,
    .update-filters,
    .reset-filters {
      hr {
        border: none;
        border-top: solid 1px $pad-text-placeholder;
        margin: 40px 0 10px 0;
      }
    }

    .filter-title {
      color: $pad-blue;
      font-size: 22px;
      font-weight: 500;
      padding: 0 20px;
    }

    .filter-list {
      a.filter {
        .filter-text {
          font-size: 18px;
          padding: 10px 20px;
          color: $pad-text;
          position: relative;

          &:hover {
            background: $pad-filters-hovers;
            color: $pad-blue;
            cursor: pointer;
          }

          .close-filter {
            display: none;
          }

          &.selected {
            color: white;
            background: $pad-text-placeholder;
            padding-right: 30px;

            .close-filter {
              display: inline-block;
              position: absolute;
              top: 50%;
              right: 20px;
              width: 24px;
              height: 24px;
              margin-top: -12px;
            }
          }

        }

        &.checkbox-filter {
          .fa-checkbox {
            padding: 1px;
            border: solid 2px $pad-text;
            border-radius: 6px;
            font-size: 15px;
            text-align: center;
            display: inline-block;
            width: 20px;
            height: 20px;
            vertical-align: middle;
            i {
              vertical-align: super;
              display: none;
            }
          }
          .filter-text {
            &:hover {
              color: $pad-text;
              background: transparent;
            }

            &.selected {
              color: $pad-text;
              background: transparent;
              .fa-checkbox {
                border-color: $pad-blue;
                background: $pad-blue;
                i {
                  color: $pad-filters-background;
                  display: inline-block;
                }
              }
            }
          }
        }
        .filter-text.disabled {
          color: $pad-filters-disabled;
          .fa-checkbox {
            border-color: $pad-filters-disabled;
          }
          &:hover {
            background: transparent;
            color: $pad-filters-disabled;
            cursor: default;
          }
        }
      }
    }

    .reset-filters {
      text-align: center;
      a {
        display: inline-block;
        margin: 20px 0;
        text-align: center;
        button {
          border: none;
          background: $pad-blue;
          color: white;
          font-weight: 400;
          font-size: 16px;
          padding: 8px 12px;
          border-radius: 4px;
          &:hover {
            background: $pad-blue-hover;
          }
        }
      }
    }
  }

  .pad-results {
    padding: 60px 20px;

    .result {
      padding: 20px 0;
      border-bottom: solid 2px $pad-filters-background;

      .organism {
        font-size: 18px;
        font-weight: 500;
        margin: 0;
      }

      .reference {
        color: $pad-text-placeholder;
      }

      .dataset-name {
        font-size: 25px;
        font-weight: 500;
        margin: 0 0 10px 0;
      }

      .dataset-description {
        font-size: 16px;
        margin: 0 0 40px 0;
      }

      .publication-container,
      .update-container {
        position: relative;
        padding: 0 0 0 30px;

        i {
          position: absolute;
          font-size: 20px;
          top: 2px;
          left: 4px;
          color: $pad-text-placeholder;
        }

        .publication,
        .update {
          font-size: 16px;
          font-weight: 500;
          margin: 0;
        }
      }
    }
  }

  .results-pagination {
    padding: 60px 0 0 0;
    text-align: center;

    span {
      font-size: 16px;
      font-weight: 500;
      padding: 6px 11px;
      border-radius: 4px;
      color: $pad-blue;
      &:hover {
        background: $pad-filters-background;
      }
      &.current,
      &.current:hover {
        background: $pad-text-placeholder;
        color: white;
      }
    }
  }
}